<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Home</title>
    <link rel="stylesheet" href="/static/core.css" class="template-customizer-core-css" type="text/css" />
    <link rel="stylesheet" href="/static/theme-default.css" class="template-customizer-theme-css" type="text/css" />
    <link rel="stylesheet" href="/static/fonts/boxicons.css" />
    <link rel="stylesheet" href="/static/gradient.css" />
  </head>
    <body class="mainHeader">
      <header>
        <div class="container-xxl flex-grow-1 container-p-y"></div>
          <div class="nameContainer"></div>
            <h1>
              <b> Congrats! </b>
            </h1>
          </div>
        </div>
      </header>
      <div class="card-body">

      You have applied to graduate! If your application is approved, your status will change to alumni. Currently your application is pending.
      </div>
      <a type="button" href="/home" class="btn rounded-pill btn-primary" >
        <span class="tf-icons bx bx-home-alt"></span>&nbsp; Home
    </a>
   </body>
  <script src="../assets/vendor/js/bootstrap.js"></script>
  <script src="../assets/vendor/js/bootstrap.js"></script>
  <script src="../assets/vendor/js/bootstrap.js"></script>
  <script src="../assets/vendor/js/menu.js"></script>
  <script src="../assets/vendor/js/menu.js"></script>
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/pages-account-settings-account.js"></script>
  <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
 </html>