<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="/static/core.css" class="template-customizer-core-css" type="text/css" />
        <link rel="stylesheet" href="/static/theme-default.css" class="template-customizer-theme-css" type="text/css" />
        <link rel="stylesheet" href="/static/fonts/boxicons.css" />
        <link rel="stylesheet" href="/static/gradient.css" />
    </head>
    <body>
        <header id="home" class="mainHeader">
          <div class="container-xxl flex-grow-1 container-p-y">
            <a type="button" href="/login" class="btn rounded-pill btn-primary">
                <span class="tf-icons bx bx-log-in"></span>&nbsp; Log In
            </a>
            <a type="button" href="/signup" class="btn rounded-pill btn-primary">
                <span class="bx bx-user me-1"></i></span>&nbsp; Sign Up
            </a>
                <div class="nameContainer"></div>
                    <h1>Hippo Campus</h1>
                </div>
            </div> 
        </header>
    </body>
</html>