<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="/static/core.css" class="template-customizer-core-css" type="text/css" />
        <link rel="stylesheet" href="/static/theme-default.css" class="template-customizer-theme-css" type="text/css" />
        <link rel="stylesheet" href="/static/fonts/boxicons.css" />
    </head>

    <body>
        <h1>Welcome to our university</h1>

        <br><br><br>

        <b>Already in the system? Click here to login</b>
        <br>
        <a href = "/login"><button type="submit" class="btn btn-sm rounded-pill btn-primary" name="submit">Login</button></a>
        <br><br>
        <b>New user? Click here to create an account</b>
        <br>
        <a href = "/signup"><button type="submit" class="btn btn-sm rounded-pill btn-primary" name="submit">Sign Up</button></a>

    </body>
</html>