<!-- need to only be able to go to this page if signed in as student-->
<html>
    <head>
        <title>Recommendation Letters</title>
        <link rel="stylesheet" href="/static/core.css" class="template-customizer-core-css" type="text/css" />
        <link rel="stylesheet" href="/static/theme-default.css" class="template-customizer-theme-css" type="text/css" />
        <link rel="stylesheet" href="/static/fonts/boxicons.css" />
    </head>

    <body>
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card mb-4">
                &nbsp;<h3 class="mb-0">Submit your recommender's information</h3>
                    <br>
        <form action="/rec_request/{{ uid }}" method="POST"> 
            <!-- Enter Student's UID<br><input type="text" name="rec_uid" required="required" placeholder="UID"><br><br> -->
            &nbsp;Name of Recommender<br>&nbsp;<input class="form-control" type="text" name="rec_wname" required="required" placeholder="Name"><br><br>
            &nbsp;Recommender's Email<br>&nbsp;<input class="form-control" type="text" name="rec_wemail" required="required" placeholder="Email"><br><br>
            &nbsp;Recommender's Title<br>&nbsp;<input class="form-control" type="text" name="rec_wtitle" required="required" placeholder="Title"><br><br>
            &nbsp;<br><button type="submit" class="btn rounded-pill btn-primary" name ="submit">Submit</button>
        </form>
        </div>
        </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <a type="button" href="/home" class="btn rounded-pill btn-primary">
          <span class="tf-icons bx bx-home-alt"></span>&nbsp; Home
        </a>
    </body>
    
</html>