<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/static/core.css" class="template-customizer-core-css" type="text/css" />
        <link rel="stylesheet" href="/static/theme-default.css" class="template-customizer-theme-css" type="text/css" />
        <link rel="stylesheet" href="/static/fonts/boxicons.css" />
    </head>

    <body>
        <p>Hello User!</p>
        <a href="/regs_transcript/00000001">Click me!</a>
        <a href="/regs_register">Click me!</a>
    </body>
</html>