<html>
    <head>
        <title>Success!</title>
        <link rel="stylesheet" href="/static/core.css" class="template-customizer-core-css" type="text/css" />
        <link rel="stylesheet" href="/static/theme-default.css" class="template-customizer-theme-css" type="text/css" />
        <link rel="stylesheet" href="/static/fonts/boxicons.css" />
    </head>

    <body>
            <!-- <hr class="my-5" /> -->
            <div class="container-xxl">
                <div class="authentication-wrapper authentication-basic container-p-y">
                  <div class="authentication-inner">
                    <!-- Register -->
                    <div class="card">
                      <div class="card-body">
                        <!-- /Logo -->
    
                        <h1 class="mb-1">You successfully submitted your application! Congratulations!</h1>
                        
                 </div>
                 </div>
                 </div>       
                 <br>
                 <br>
        <a type="button" href="/home" class="btn rounded-pill btn-primary">
            <span class="tf-icons bx bx-home-alt"></span>&nbsp; Home
        </a>
        &nbsp;
        <a type="button" href="/logout" class="btn rounded-pill btn-primary">
            <span class="tf-icons bx bx-log-out"></span>&nbsp; Log Out
        </a>
    </body>
</html>